.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  min-height: 50%;
  max-height: 80%;
  min-width: 30%;
  padding: 15px;
}

.inputColumn {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  margin: 10px;
}
