.topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.pickerContainer {
  display: flex;
  align-items: center;
}

.picker {
  margin-left: 10px;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .topMenu {
    flex-direction: column;
  }
}
